*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #DFF6FF;
  font-size: 18px;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #06283D;
  background-attachment: fixed;
}

.bold {
  color: #ffa500;
  font-weight: bold;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #47B5FF;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 48px 24px;
  font-family: 'proximanova-regular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.story, .people, .posts, .post {
  max-width: 800px;
}

.home {
  max-width: 600px;
}

.home h1, .story h1, .posts h1, .post h1 {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.2;

}

@media screen and (max-width: 500px) {
  .home h1, .story h1, .posts h1, .post h1 {
    font-size: 28px;
  }
}

.home p+p {
  margin-top: 12px;
}

.story p+p {
  margin-top: 28px;
}

.home ul, .story ul {
  margin: 24px 0;
  padding-left: 24px;
  list-style-type: disc;
}

.story section>*+* {
  margin-top: 24px;
}

.story section {
  margin-top: 30px;
}

.story li+li, .links li+li {
  margin-top: 8px;
}

.people>div+div {
  margin-top: 30px;
}

ul {
  margin-left: 12px;
  list-style-type: none;
}

.people ul {
  margin: 12px 0;
  padding-left: 32px;
  list-style-type: disc;
}

.back {
  gap: 8px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.back:hover {
  text-decoration: underline;
}

.footnote {
  color: #ffa500;
  margin-top: 30px;
  font-weight: bold;
}

.posts {
  margin-top: 30px;
}

.post-section {
  margin-top: 30px;
}

.post-section+.post-section {
  margin-top: 40px;
}

.post-section .title {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post-section .list {
  margin-left: 16px;
  margin-bottom: 30px;
  list-style-type: disc;
}

.post-section .list li {
  margin-bottom: 10px;
}

.post {
  margin-top: 30px;
}

.post h1 {
  margin-bottom: 0;
}

.post-content {
  margin-top: 30px;
}