*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #DFF6FF;
  font-size: 18px;
  line-height: 1.6;
  min-height: 100vh;
  background-color: #06283D;
  background-attachment: fixed;
}

.bold {
  color: orange;
  font-weight: bold;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #47B5FF;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  padding: 48px 24px;
  font-family: 'proximanova-regular', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.story, .people {
  max-width: 800px;
}

.home h1, .story h1 {
  font-size: 40px;
  margin-bottom: 16px;
}

.home p+p {
  margin-top: 12px;
}

.story p+p {
  margin-top: 28px;
}

.home ul, .story ul {
  margin: 24px 0;
  padding-left: 24px;
  list-style-type: disc;
}

.story section>*+* {
  margin-top: 24px;
}

.story section {
  margin-top: 30px;
}

.story h3 {
  margin-bottom: 0;
  font-family: 'Noto Sans', sans-serif;
}

li+li {
  margin-top: 8px;
}

.people>div+div {
  margin-top: 30px;
}

.people ul {
  margin: 12px 0;
  padding-left: 32px;
  list-style-type: disc;
}

.back {
  text-decoration: none;
}